# PhpStorm:
.idea*

# Intel XDK.
plugins
xdk
intelxdk*
*.xdk*

# Dependencies.
node_modules

# Distribution version.
dist*

# Zipped versions.
app.zip
dist.zip

# Others.
package-lock.json
.idea/workspace.xml
.DS_STORE
.vscode
.DS_Store
.idea
