# PhpStorm:
.idea

# Intel XDK.
plugins
xdk
intelxdk*
*.xdk*

# Dependencies.
node_modules

# Distribution version.
dist*

# Distribution zipped version.
dist.zip

# Others.
package-lock.json
.idea/workspace.xml
.DS_STORE
.DS_Store
app.zip
yellowsidd
.vscode
