<?xml version='1.0' encoding='utf-8'?>
<widget id="com.doyban.yellowsidd" version="3.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>YellowSidd</name>
    <description>Super platformer</description>
    <author email="contact@doyban.com" href="https://doyban.com/">Doyban</author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.4.3" />
    <engine name="ios" spec="^4.5.5" />
    <plugin name="cordova-plugin-facebook4" source="npm" spec="1.7.4">
        <variable name="APP_ID" value="242231026115859" />
        <variable name="APP_NAME" value="YellowSidd" />
    </plugin>
    <plugin name="cc.fovea.cordova.purchase" spec="^7.2.6" />
    <plugin name="cordova-universal-links-plugin" spec="^1.2.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-admob-simple" spec="^3.3.8" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2">
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
    </plugin>
</widget>
